* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    background: #E2E7EF;
}

//基本卡
.card {
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-sizing: border-box;
    margin-bottom: 14px;
    h3 {
        font-weight: normal !important;
    }
    > header {
       font-size: 14px;
       line-height: 17px;
       display: inline-block;
       font-weight: bold;
    }
}
a{
  color: #1a1a1a;
  text-decoration: none;
}
a:visited{
  color: #1a1a1a;
  text-decoration: none;
}
h3 {
    font-size: 14px;
    color: #303030 !important;
    font-weight: bold !important;
}

.manager-identity {
    background: #2386EE;
    border-radius: 10px;
    color: #FFFFFF;
    font-style: normal;
    font-size: 12px;
    padding: 2px 6px;
}